<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- fuente -->
      <link rel="stylesheet" href="https://fonts.google.com/specimen/Raleway?subset=latinhttps://fonts.google.com/specimen/Raleway?subset=latin">
      <!-- icon -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <!-- style -->
    <link rel="stylesheet" href="css/product.css">

    <title>Cafe en granos</title>
</head>

<body>

    <header>

    </header>

    <main>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
            <h1 class="display-4 mt-4">Lista de Productos</h1>
            <p class="lead">Selecciona uno de nuestros productos de cafe en grano y disfruta de la vida</p>
        </div>

        <div class="container" id="lista-productos">
            
            <div class="card-deck mb-3 text-center">
                
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">Café Santander Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/cafe vladez SANTANDER-GRANO.jpg" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">$500</h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>454g</li>
                            <li>Juan Valdez</li>
                            <li>Café de origen balanceado con notas de sabor a té de manzanilla, azúcar morena y chocolate</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="1">Comprar</a>
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">Café Valle del Cauca Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/VALLE-DEL-CAUCA-GRANO-454G-FRONT.webp" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">$300</h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>454g</li>
                            <li>Juan Valdez</li>
                            <li>Café de origen fuerte con notas de sabor a malta tostada y miel de caña.</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="2">Comprar</a>
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-bold">Café Cumbre Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/CUMBRE-GRANO-450-600x600.webp" class="card-img-top">
                        <h1 class="card-title pricing-card-title precio">$400</h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>454g</li>
                            <li>Juan Valdez</li>
                            <li>Café fuerte con notas de sabor a uva semiseca, cocoa y té</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary agregar-carrito" data-id="3">Comprar</a>
                    </div>
                </div>

            </div>

        </div>
    </main>

   
    <script src="js/carrito.js"></script>
    <script src="js/pedido.js"></script>

</body>

</html>