<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- fuente -->
      <link rel="stylesheet" href="https://fonts.google.com/specimen/Raleway?subset=latinhttps://fonts.google.com/specimen/Raleway?subset=latin">
      <!-- icon -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <!-- style -->
    <link rel="stylesheet" href="css/product.css">

    <title>Cafe en granos</title>
</head>

<body>

    <header>

    </header>

    <main>
        <section class="container-title">
            <div  class="title">
                <h1>Lista de Productos</h1>
            </div>
           <div class="subtitle">
            <p >Selecciona uno de nuestros productos de cafe en grano y disfruta de la vida!!!</p>
           </div>
        </section>

        <section class="container-product" >
            
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Café Santander Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/cafe vladez SANTANDER-GRANO.jpg" class="card-img">
                        <h1 class="card-precio">$500</h1>

                        <ul class="card-list">
                            <li class='card-detail'>454g</li>
                            <li class='card-detail'>Juan Valdez</li>
                            <li class='card-detail'>Café de origen balanceado con notas de sabor a té de manzanilla, azúcar morena y chocolate</li>
                        </ul>
                        <div class="card-buttom">
                            <a href="" class='buttom'><i class="fas fa-cart-plus"></i></a>
                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Café Valle del Cauca Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/VALLE-DEL-CAUCA-GRANO-454G-FRONT.webp" class="card-img">
                        <h1 class="card-precio">$300</h1>

                        <ul class="card-list">
                            <li class='card-detail'>454g</li>
                            <li class='card-detail'>Juan Valdez</li>
                            <li class='card-detail'>Café de origen fuerte con notas de sabor a malta tostada y miel de caña.</li>
                        </ul>
                        <div class="card-buttom">
                            <a href="" class='buttom' ><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Café Cumbre Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/CUMBRE-GRANO-450-600x600.webp" class="card-img">
                        <h1 class="card-precio">$400</h1>

                        <ul class="card-list">
                            <li>454g</li>
                            <li>Juan Valdez</li>
                            <li>Café fuerte con notas de sabor a uva semiseca, cocoa y té</li>
                        </ul>
                        <div class="card-buttom">
                            <a href=""  class='buttom'><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Café Santander Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/cafe vladez SANTANDER-GRANO.jpg" class="card-img">
                        <h1 class="card-precio">$500</h1>

                        <ul class="card-list">
                            <li>454g</li>
                            <li>Juan Valdez</li>
                            <li>Café de origen balanceado con notas de sabor a té de manzanilla, azúcar morena y chocolate</li>
                        </ul>
                        <div class="card-buttom">
                            <a href="" class='buttom' ><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Café Valle del Cauca Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/VALLE-DEL-CAUCA-GRANO-454G-FRONT.webp" class="card-img">
                        <h1 class="card-precio">$300</h1>

                        <ul class="card-list">
                            <li>454g</li>
                            <li>Juan Valdez</li>
                            <li>Café de origen fuerte con notas de sabor a malta tostada y miel de caña.</li>
                        </ul>
                        <div class="card-buttom">
                            <a href=""  class='buttom'><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Café Cumbre Grano</h4>
                    </div>
                    <div class="card-body">
                        <img src="images/CUMBRE-GRANO-450-600x600.webp" class="card-img">
                        <h1 class="card-precio">$400</h1>

                        <ul class="card-list">
                            <li>454g</li>
                            <li>Juan Valdez</li>
                            <li>Café fuerte con notas de sabor a uva semiseca, cocoa y té</li>
                        </ul>
                        <div class="card-buttom">
                            <a href="" class='buttom' ><i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer>
        FOOTER
    </footer>

</body>

</html>