<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- fuente -->
      <link rel="stylesheet" href="https://fonts.google.com/specimen/Raleway?subset=latinhttps://fonts.google.com/specimen/Raleway?subset=latin">
      <!-- icon -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <!-- style -->
    <link rel="stylesheet" href="css/productCart.css">
    <link rel="stylesheet" href='css/product.css'>

    <title>Carrito</title>

</head>

<body>
    <header>

    </header>

    <main>
        <div class="container">
           
                <div class="container-title">
                    <h1 class="title">Tu Carrito<i class="fas fa-cart-plus"></i></h1>
                       <div class='form-client-email'>
                        <div class="form-client">
                            <h4 class="client">Cliente :</h4>
                            <div class="client-text">
                                <input class='barra' type="text" size="30%"
                                    placeholder="Ingresá nombre completo">
                            </div>
                        </div>
                        <div class="form-email">
                            <h4  class="email">Correo :</h4>
                            <div class="email-text">
                                <input class='barra' type="text" size="30%" placeholder="Ingresá tu correo electrónico"  >
                            </div>
                        </div>

                       </div>
                        <!-- <div  class="table" >
                            <table class="table-menu" >
                            
                                        <th >Producto</th>
                                        <th >Precio</th>
                                        <th >Cantidad</th>
                                        <th>Sub Total</th>
                                        <th>Eliminar</th>
                                        <th>Total</th>
                
                            </table>
                        
                             <table class="table-detail">
                            
                                    <th class='img-th'><img  class='img' src="images/VALLE-DEL-CAUCA-GRANO-454G-FRONT.webp"></th>
                                     <th>$300</th>
                                    <th> <input class='q'  type="number" placeholder="cantidad" </th>
                                    <th>Sub Total</th>
                                    <th><input type="checkbox" name="" id=""></th>
                                    <th>Total</th>
                             </table>
                          </div> -->
                        <section class='card-cart'>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Café Santander Grano</h4>
                                </div>
                                <div class="card-body">
                                    <img src="images/cafe vladez SANTANDER-GRANO.jpg" class="card-img">
                                    <h1 class="card-precio">$500</h1>
            
                                    <ul class="card-list">
                                        <li class='card-detail'>454g</li>
                                        <li class='card-detail'>Juan Valdez</li>
                                        <li class='card-detail'>Café de origen balanceado con notas de sabor a té de manzanilla, azúcar morena y chocolate</li>
                                    </ul>
                                    <div class="card-buttom">
                                        <a href="" class='buttom'><i class="fas fa-cart-plus"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </section>

                        <div class="confirm-buy">
                            <div class="no-buy-go-product">
                            <button class="go-product">
                                <a href="product.html" >Seguir comprando </a>
                            </button>
                            </div>
                            <div class="buy">
                                <button href="#" class="buy-buttom" >Comprar</button>
                            </div>
                        </div>

                </div>

        </div>
    </main>

</body>

</html>