/* fuente */



 .form-client-email{

     background-color: #08c4d10e;
     box-shadow: 8px 5px 5px 1px var(--capuchino);
border-radius: 1rem;
margin-bottom: 2rem;
 }
 .form-client, .form-email{
     display: flex;
     justify-content:space-evenly;
     line-height: 0.5;
     
 }
 .client-text, .email-text{
     display: flex;
     align-items: center;
text-decoration:underline;

 }
 .barra{
background-color: inherit;
     color: var(--blue);
     border-style:hidden;
     height: 50%;
     text-align: center;
     font-size: 0.8rem;
 }

/*  
 .table{
     display: flex;
     flex-direction: column;

 }

 .table-detail{
     display: flex;
     justify-content: space-evenly;
     
 }
 .img-th{
     width: 20%;
 }
 .img{
     width:100%;
     box-shadow: 5px 5px 0px 5px rgba(228, 177, 100, 0.5);
   border-radius: 50%;
 }
.q{
    max-width: 100%;
} */

.confirm-buy{
    height: 3rem;
    display:flex;
    justify-content:space-evenly;
    margin-top: 2rem;
}
.no-buy-go-product,.buy{
display: flex;
}
.go-product, .buy-buttom{
    font-size:1rem;
    border-radius: 2rem;
}



@media (min-width: 400px){
   .title{
      margin: auto;}

      .form-client, .form-email{
          font-size: 1rem;
      }
}