:root{
    --blue: #00353F;
    --cyan: #08C5D1;
    --honey: #FFBF66;
    --capuchino:#D46F4D;
    --coffee: #430C05;
 }
 
.container{
    background-color: white;
}
 .form-client-email{
     margin: 0 50px 20px 50px;
     height: 50px;
     background-color:#08c4d12c;
     box-shadow: 8px 5px 5px 1px var(--capuchino);
border-radius: 2rem;
text-align: center;
color: var(--coffee);

 }
 .form-client, .form-email{
     line-height: 1.3;   
 }

 .barra{
background-color: inherit;
     border-style:hidden;
     text-align: center;
 }

 .product-cart{
    width: 90%;
    margin: 0 auto;

 }
 .checktrash{
     height: 13px;
    margin-left: 53px;
    margin-right: 53px;
    display: flex;
    justify-content: space-between;
 }

 .trash {
     color: var(--cyan);
     height: 15px;
     border-radius: 10px;
border-color: white; 
}
.trash i{
    display: flex;
    font-size: 12px;
margin-bottom: 15px;

}


 .card-list, .card-precio{
     display: none;
 }

 .cantidad, #cantidad, #Total{
     height: 30px;
 }
 .cantidad{
    margin: 2px 0 5px 0;

 }


.confirm-buy{
    height: 3rem;
    display:flex;
    justify-content:space-evenly;
    margin-top: 2rem;
}
.no-buy-go-product,.buy{
display: flex;
}
.go-product, .buy-buttom{
    font-size:1rem;
    border-radius: 2rem;
}



@media (min-width: 400px){
    .product-cart{
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

}